<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>HappyDNS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Pods-qiniu.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-qiniuTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-qiniuUITests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Qiniu.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29FE19C04866C027CA7815BA353F8930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DB6C2CD7957113C2BEC554CE594753F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4878C70B21CA37D7CB8A476BF986741B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E0E8AE967FA7504D24AD79D053E0B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9B2912F3014FE824BA7AA2BBC7C8AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8DC86C2CA36A55C81BECE26B0775802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
