<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking.root-NSURLSession-Reachability-Security-Serialization.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>AFNetworking.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>HappyDNS-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>HappyDNS-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Pods-sqlite3.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-sqlite3mac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Qiniu-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>Qiniu-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FF86BD6620BB15E0D094E07FB011BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3436CEA5C3D39764C5F54374794ECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7787EE758A4D7B24981E16BF16E926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E25D90569DEB7F621F9534FFF9F27DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6522EA246C110D0F660B159CED62195D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7411CA80D55DF7E564743FC4062844FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE97F491430E8F89B3EDE99230D965AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A1803420E3DDBB09C5C8A3F35B6E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
